.book_div {
    border: 1px solid gray;
	border-radius: 10px;
    display: inline-block;
    padding: 5px;
	margin: 5px;
	width: 90%;
	vertical-align: top;

	text-align: center;
	min-height: 100%;
}

.img_in_div {
	max-width: 80%;
	border-radius: 10px;
}

.block {
    width: 200px;
    height: 200px;
}
.block img {
    max-width: 100%;
    max-height: 100%;
}
