input[type=number] {
	padding:5px;
	margin: 0px;
	display:inline-block;
	border:none;
	width: 30px;
	text-align: center
}

.inline{
	display:inline-block;
	vertical-align: middle;
	margin: 5px;
}


.left{
	text-align: right;
	width: 50%;
}
.right{
	text-align: left;
	width: 40%;
}

select
{
	display:inline-block;
	text-align: right;
	max-width: 100%
}
