body {
	background: lightgray
}

.button {
	margin: 2px;
    display: inline-block;
	padding: 5px 5px;
    border: 1px solid gray;
	background: linear-gradient(to bottom, white, lightgray);
	color: black;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1em;
}

.minibutton {
	margin: 5px;
	padding: 2px;
    display: inline-block;
    border: 1px solid gray;
	border-radius: 5px;
	background: linear-gradient(to bottom, white, lightgray);
	color: black;
	text-decoration: none;
}

.external_link {
	color: black;
	background: linear-gradient(to bottom, white, lightblue);
}

.download_link {
	color: black;
	background: linear-gradient(to bottom, white, lightgreen);
}

.selected {
	color: white;
	background: linear-gradient(to bottom, green, black);
}

.bgcolor {
	background: lightgray
}

.head_div {
    border: 2px solid gray;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
    padding: 3px;
	margin-top: -2px;
	
	display: inline-block;
}

.content_div {
    border: 2px solid gray;
	border-radius: 10px;
	background: white;

    padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;

	text-align: center;
	width: 90%;
}

.text_div {
    padding: 0px;
	margin-top: 10px;

	text-align: center;
}

.image_div {
	margin: 5px;
	padding: 5px;
}

.xscroll {
	overflow-x: auto;
}
