body {
	background: lightgray
}

.button {
	margin: 2px;
	padding: 5px;
    display: inline-block;
    border: 1px solid gray;
	background: linear-gradient(to bottom, white, lightgray);
	color: black;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1em;
}

.minibutton {
	margin: 5px;
	padding: 5px;
    display: inline-block;
    border: 1px solid gray;
	border-radius: 5px;
	background: linear-gradient(to bottom, white, lightgray);
	color: black;
	text-decoration: none;
}

.microbutton {
	margin: 1px;
	padding: 1px;
	padding-left: 5px;
	padding-right: 5px;
    display: inline-block;
    border: 1px solid gray;
	border-radius: 5px;
	background: linear-gradient(to bottom, white, lightgray);
	color: black;
	text-decoration: none;
}

.external_link {
	color: black;
	background: linear-gradient(to bottom, white, lightblue);
}

.download_link {
	color: black;
	background: linear-gradient(to bottom, white, lightgreen);
}

.selected {
	color: white;
	background: linear-gradient(to bottom, green, black);
}

.bgcolor {
	background: lightgray
}

.head_div {
    border: 2px solid gray;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
    padding: 3px;
	margin-top: -2px;
	
	display: inline-block;
}

.content_div {
	border: 2px solid gray;
	border-radius: 10px;
	background: white;

    padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 5px;

	text-align: center;
	width: 90%;
}


.code_div {
	font-size: large;
	font-family: monospace;
	background: #555555;
#	color: #dddddd;
	padding: 2px;
	margin: 10px;
	text-align: left;
}

.line_number {
	counter-increment: line;
}

.line_number:before {
	content: counter(line);
}

.line_bash:before {
	content: " $ ";
}

.line_cmd:before {
	content: " > ";
}

.line_python:before {
	content: " >>> ";
}


.mycode:before {
	display: inline-block;
	width: 2em;
	text-align: right;
	padding: 0px;
	margin-right: 5px;
	padding-right: 5px;
	background: linear-gradient(to left, #dddddd, #333333);
}

.mycode {
	background: #dddddd;
	padding: 0px;
	margin: 0px;
    width: 100%
}

.text_div {
	padding: 0px;
	margin-top: 10px;
	text-align: center;
}

.image_div {
	margin: 5px;
	padding: 5px;
}

.xscroll {
	overflow-x: auto;
}

.resized {
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
    border: 2px solid gray;	
    max-width: 80%;
    max-height: 100%;
}
