.button {
	margin: 2px;
    display: inline-block;
	padding: 5px 5px;
    border: 1px solid gray;
	background: lightgray;
	color: black;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1em;
}

.external_link {
	color: black;
	background: linear-gradient(to bottom, white, lightblue);
}

.download_link {
	color: black;
	background: linear-gradient(to bottom, white, lightgreen);
}

.selected {
	color: white;
	background: linear-gradient(to bottom, green, black);
}


.head_div {
    border: 2px solid gray;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
	margin-top: -2px;
	margin-bottom: 10px;
	
	display: inline-block;
	width: 80%;

	color: white;
	background: gray;
}

.content_div {
    border: 2px solid gray;
	border-radius: 10px;

    padding: 0px;
	margin: 10px;

	text-align: center;
	width: 90%;
}

.text_div {
    padding: 5px;
	margin-top: 5px;

	text-align: center;
}

.image_div {
	margin: 5px;
	padding: 5px;
}

.image_fit {
	max-width: 100%;
}

.colomns2 {
	min-width: 70%;
}

.colomns3 {
	min-width: 70%;
}

.colomns4 {
	min-width: 40%;
}

.colomns5 {
	min-width: 40%;
}

.colomns6 {
	min-width: 40%;
}

.colomns7 {
	min-width: 20%;
}

.colomns_in_header {
	min-width: 70%;
}

.buttons_div {
	border-radius: 10px;
	padding: 5px;
}

.xscroll {
	overflow-x: auto;
}
