table {
	border: 2px solid gray;
	border-collapse: collapse;
	max-width: 100%;
	font-size: 1em;
}

tr {
	border: 1px solid gray;
}

td, th {
	padding: 5px;
	border: 1px solid gray;
	text-align: center;
	max-width: 20%;
}

td:last-child {
	text-align: center;
}

th {
	color: white;
	background: linear-gradient(to bottom, gray, black);
	font-weight: normal;
}


.gold {
	color: gold;
}

.silver {
	color: silver;
}

.bronze {
	color: goldenrod;
}

.accepted {
	border: 0px solid gray;
	background: green;
	color: white;
	border-radius: 5px;
    display: inline-block;
	width: 100%
}

.rejected {
	color: red;
}

.bg_gold {
	background: gold;
}

.bg_silver {
	background: silver;
}

.bg_bronze {
	background: goldenrod;
}

.xscroll {
	overflow-x: auto;
}
