.button {
	margin: 5px;
    display: inline-block;
	padding: 5px 5px;
    border: 1px solid gray;
	background: lightgray;
	color: black;
	border-radius: 10px;
	font-weight: bold;
	text-decoration: none;
}

.selected {
	color: white;
	background: linear-gradient(to bottom, green, black);
}

.hello_div {
    border: 1px solid gray;
	border-radius: 10px;
    display: inline-block;
	text-align: left;
}

.text_div {
	text-align: center;
}

.hello_div, .text_div {
    padding: 10px;
	margin: 10px;
	width: 80%;
}

.image_div {
	margin: 5px;
	padding: 5px;
}

.colomns2 {
	min-width: 30%;
}

.colomns3 {
	min-width: 25%;
}

.colomns4 {
	min-width: 18%;
}

.colomns5 {
	min-width: 15%;
}

.colomns6 {
	min-width: 12%;
}

.colomns7 {
	min-width: 10%;
}


.colomns_in_header {
	min-width: 18%;
	padding: 15px 15px;
}

.buttons_div {
	border-radius: 10px;
	padding: 5px;
/*	border: 1px solid gray;*/
	width: 80%;
}

.xscroll {
	overflow-x: auto;
}
