.header {
	display: inline-block;
	padding: 5px 5px;
	width: 100%;
	text-align: center;
}

.button {
	margin-top: 10px;
    display: inline-block;
	padding: 5px 15px;
    border: 1px solid gray;
	background: gray;
	color: white;
	border-radius: 25px;
	font-size: 2em;
	text-decoration: none;
}

.selected {
	background: linear-gradient(to bottom, green, black);
}

.content_div {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
	margin-top: 0px;
	width: 800px;
	vertical-align: top;

	text-align: center;
}

.img_in_div {
	width: 300px;
}