.header {
	display: inline-block;
	padding: 5px 5px;
	width: 100%;
	text-align: center;
}

.button {
	margin: 5px;
    display: inline-block;
	padding: 5px 15px;
    border: 1px solid gray;
	background: lightgray;
	color: black;
	border-radius: 10px;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}


.colomns5 {
	min-width: 15%;
}

.colomns6 {
	min-width: 12%;
}

.selected {
	color: white;
	background: linear-gradient(to bottom, green, black);
}

.hello_div {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px;
	margin-top: 0px;
	width: 1000px;
	vertical-align: top;

	text-align: left;
	font-size: 1em;
}