table {
	border: 2px solid gray;
	border-collapse: collapse;
	font-size: 20px;
	margin-top: 20px;
}

tr {
	border: 1px solid gray;
}

td, th {
	padding: 5px;
	border: 1px solid gray;
	text-align: center;
}

td:last-child {
	text-align: center;
}

.gold {
	color: gold;
}

.silver {
	color: silver;
}

.bronze {
	color: goldenrod;
}

.head {
	font-size: 1em;
	font-weight: bold;
}

.xscroll {
	overflow-x: auto;
}
