h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.brd {
    border: 1px solid gray;
    background: gainsboro;
    padding: 5px;
    display: inline-block;
	margin-top: 10px;
}

.cdesktop {
	border: 1px solid gray;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	font-size: 14pt;
}
.cmobile {
	border: 1px solid gray;
	display: inline-block;
	padding: 15px 5px;
	text-decoration: none;
	color: white;
	font-size: 28pt;
	font-weight: bold;
}
.cdesktop:hover {
	background: green;
	color: white;
}

.notselected {
	background: dimgray;
}

.selected {
	background: linear-gradient(to bottom, green, black);
}


.mobile {
	font-size: 16pt;
}
.desktop {
	font-size: 12pt;
}

.jewel {
	border: 1px solid #000; /* Рамка вокруг таблицы */
	border-collapse: collapse;
}
.row_selected {
	font-weight: bold;
	color: white;
	background: darkgreen;
}
.row_top {
	background: lightgreen;
}
.row_failed {
	background: lightcoral;
}
.row_reserved {
	background: lightsteelblue;
}
.row_default {
	background: white;
}
.arrow_up {
	color: green;
}
.arrow_down {
	color: red;
}
.jewel th {
	background: linear-gradient(to bottom, green, black); /* Градиент */
	color: white;
}
.jewel td, .jewel th { 
	padding: 3px; /* Поля вокруг текста */
	text-align: center; /* Выравнивание по центру */ 
	border: 1px solid #000;
}
.jewel td, .jewel th { 
	width: 30pt; /* Ширина таблицы */
}
