body {
	background: url(light_msu.jpg);
	background-attachment: fixed;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.brd {
    border: 1px solid gray;
    background: gainsboro;
    padding: 5px;
    display: inline-block;
	margin-top: 10px;
	vertical-align: top;
}

.cdesktop {
	border: 1px solid gray;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
}
.cmobile {
	border: 1px solid gray;
	display: inline-block;
	padding: 15px 5px;
	text-decoration: none;
	color: white;
}
.cdesktop:hover {
	background: green;
	color: white;
}

.notselected {
	background: dimgray;
}

.selected {
	background: linear-gradient(to bottom, green, black);
}

.mobile_big{
	font-size: 20pt;
}

.mobile {
	font-size: 12pt;
}

.desktop_big {
	font-size: 18pt;
}

.desktop {
	font-size: 12pt;
}

.jewel {
	border: 1px solid gray;
	border-collapse: collapse;
}

.jewel thead {

}

.jewel thead tr{
	display:block;
}

.jewel th {
	padding: 5px;
	background: linear-gradient(to bottom, green, black);
	color: white;
	text-align: center;
	width: 150px;
	word-break: break-all;
}

.jewel tbody{
	display:block;
	overflow:auto;
	height:400px;
}

.jewel td {
	padding: 5px;
	text-align: center;
	width: 150px;
	word-break: break-all;
}

.row_selected {
	color: white;
	background: darkgreen;
}
.row_top {
	background: lightgreen;
}
.row_failed {
	background: lightcoral;
}
.row_reserved {
	background: lightsteelblue;
}
.row_default {
	background: white;
}
.arrow_up {
	color: green;
}
.arrow_down {
	color: red;
}

